body {
    background-color: #ecececa6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: black;
    min-height: 100vh;
    padding: 0 0px;
}

.container {
    padding: 1rem;
    box-sizing: border-box;
}

.div-imagens {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div.title {
    text-align: center;
}

div.title h1 {
    font-size: 1.65rem;
    color: #ec7600;
}

div.imgbck {
    display: inline-block;
    width: 48%;
    height: 300px;
    padding: 5px;
    border: 1px solid blue;
    background-color: #ffffff;
    margin-top: 20px;
}

div.principal {
    background-image: url('/assets/img/logoBRQ.png');
    background-repeat: no-repeat;
    background-position: right top;
}

div.principal h1 {
    color: yellow;
    text-align: center;
}

div.secundaria {
    background-image: url('/assets/img/logoBRQ.png');
    background-position: left bottom;
    background-repeat: no-repeat;
}

div.secundaria h1 {
    color: green;
    text-align: center;
}


/* background-image: url('/_images/logo-brq.png');
background-repeat: no-repeat;
background-position: right top;
background-size: 10%;
background-attachment: fixed; */

#section-textos {
    margin-top: 1rem;    
}

.card-textos {
    border: 1px solid #555454a6;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0.4em 0.4em 1em -0.2em rgb(161, 159, 155);
    padding: 1rem;
}

.border-special {
    border: 3px #919191a6;
    border-top-style: dotted;
    border-right-style: dashed;
    border-bottom-style: solid;
    border-left-style: double;
    border-left-color: #391e66;
}

.modelo-texto-1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

.modelo-texto-1 h1 {    
    font-size: 2.5rem;
    color: #ec7600; 
    font-weight: bold;   
    text-transform: lowercase;
}

.modelo-texto-1 p {   
    font-size: 2rem;    
}

.modelo-texto-2{
    font-family: 'Josefin Sans', sans-serif;    
}

.modelo-texto-2 h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 20px;
    color: #391e66;
    font-weight: bold;   
    text-decoration: underline;
}

.modelo-texto-2 p {
    text-align: justify;
    font-size: 2rem;    
}

#section-diplay h1 {
    text-align: center;
    color: #195833;
    margin-top: 16px;
    margin-bottom: 10px;
}

.card-display{
    height: 100px;
    width: 33%;
    border: 1px solid #391e66;
    display: inline-block;
    
}

.card-display.bck-roxo{
    background-color: #7754af;
}

.card-display.bck-laranja{
    background-color: #ec7000;
}
.card-display.bck-cinza{
    background-color: #a5a4a7;
}

